.graph-wrapper {
  width: 100%;
  max-width: 100%; 
  height: 600px;   /* or 70vh, etc. */
  margin: 0 auto;
}

.graph-wrapper canvas {
  display: block; 
  width: 100% !important; 
  height: 50% !important; 
}

.scene-container {
  width: 100%; 
  height: auto !important; 
}

.force-graph {
  max-height: auto !important; 
  max-width: auto !important; 
}

#main-wrapper .container {
  max-width: auto;          /* <- was a fixed px value in Chirpy */
  width: 100%;
}